<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    <span></span>
    <h1>{{message}}</h1>
    <ul>
        <li>nothing to see now... :-(</li>
    </ul>
    {{>footer}}
</body>

</html>